{% extends "base.html" %}
{% load static %}
{% block title %}
  Blog
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
  <link rel='stylesheet' href="{% static "blog/index.css" %}"/>
{% endblock %}


{% block content%}
<div id="welcome">
   <img src="static/blog/images/person.png" alt="parsa-the author if this blog"/>
</div>



<section id="latest-posts">
    <h2>My latest thoughts</h2>
    <ul>
      {% for post in posts %}  
        {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>About Me</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis non iure distinctio tempore modi!
    </p>
</section>
{% endblock %}